RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^article/([0-9a-zA-Z_-]+)/([0-9a-zA-Z_-]+) blog.php?tag=$1&file=$2 [NC,L]
RewriteRule ^article/([0-9a-zA-Z_-]+)_page([0-9a-zA-Z_-]+) blog.php?tag=$1&page=$2 [NC,L]
RewriteRule ^article/([0-9a-zA-Z_-]+) blog.php?tag=$1 [NC]
RewriteRule ^(.*).html$ static.php?file=$1 [NC]