</main>

<footer>
    <div class="copyright">
        Bu site <a href="https://birmobil.com">birmobil</a> tarafından yapılmıştır.
    </div>
    <div class="social">
        <a href="https://twitter.com/kuvarskure"><i class="fab fa-twitter-square"></i></a>
        <a href="https://www.linkedin.com/in/%C3%B6zcan-arican-96432936/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/ozcanarican"><i class="fab fa-github-square"></i></a>
    </div>
</footer>
<script src="/{{root}}/assets/main.js"></script>

</body>
</html>